*.iml
*.iws
*.launch
.externalToolBuilders/
.DS_Store
.idea/
.nb-gradle/
.project
.settings/
.history/
atlassian-ide-plugin.xml
nbactions.xml
nbbuild/
nbdist/
nbproject/private/
desktop.ini/
.Rhistory
.Rapp.history
.RData
.RDataTmp
.Ruserdata
*-Ex.R
.Rproj.user/
